<div>{{ username }}</div>

<br />

<div>
	<ul>
		<li *ngFor="let group of groups">
        {{ group }}
      </li>
	</ul>
</div>

<br />

<a routerLink="">Home</a>
<a routerLink="/test1">Test1</a>
<a routerLink="/test2">Test2</a>
<a routerLink="/test3">Test3</a>
<br />
<br />

<h1><router-outlet></router-outlet></h1>
